<div class="card max-w-sm bg-white rounded-lg border border-gray-200 shadow-md my-8 mr-4">
  {% if post.thumbnail %}
    <a href="{{ path('post_details', { slug: post.slug }) }}"><img src="{{ vich_uploader_asset(post.thumbnail, 'imageFile') }}" alt="{{ post.thumbnail.imageName }}" class="rounded-t-lg" /></a>
  {% endif %}
  <div class="p-6">
    <h5 class="font-bold text-lg mb-3">{{ post.title }}</h5>

    <div class="mx-auto mt-6">
      {% include 'components/badges.html.twig' with { badges: post.categories } only %}
    </div>

    <p class="mb-4 pb-2">{{ post.content|u.truncate(160, '...') }}</p>
    <a href="{{ path('post_details', { slug: post.slug }) }}" data-mdb-ripple="true" data-mdb-ripple-color="light" class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Lire la suite</a>
  </div>
</div>
