{% if comment.isApproved %}
  <article class="mb-6 text-base relative">
    <footer class="flex justify-between items-center mb-2">
      {% if app.user == comment.author %}
        <div class="comment__delete absolute right-0">
          <form name="comment_delete" method="post" action="{{ path('comment_delete', { id: comment.id }) }}">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}" />
            <button type="submit" class="btn">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewbox="0 0 20 20" fill="red">
                <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
              </svg>
            </button>
          </form>
        </div>
      {% endif %}
      <div class="flex items-center">
        <p class="inline-flex items-center mr-3 text-sm">
          {% if comment.author.avatar %}
            <img class="mr-2 w-16 h-16" src="{{ comment.author.avatar }}" alt="Avatar {{ comment.author }}" />{{ comment.author }}
          {% else %}
            <img class="mr-2 w-16 h-16" src="https://api.dicebear.com/6.x/avataaars-neutral/svg?seed=Bubba" alt="Avatar {{ comment.author }}" />{{ comment.author }}
          {% endif %}
        </p>
        <p class="text-sm">
          <time pubdate datetime="2022-02-08" title="February 8th, 2022">Feb. 8, 2022</time>
        </p>
      </div>
    </footer>
    <p>{{ comment.content|raw }}</p>
  </article>
{% endif %}
