{% extends 'base.html.twig' %}

{% block title %}
  Symblog - {{ post.title }}
{% endblock %}

{% block body %}
  <div class="container my-24 px-6 mx-auto">
    <section class="mb-32 text-gray-800">
      {% if post.thumbnail %}
        <img class="w-full shadow-lg rounded-lg mb-6" src="{{ vich_uploader_asset(post.thumbnail, 'imageFile') }}" alt="{{ post.thumbnail.imageName }}" />
      {% endif %}

      <div class="flex items-center mb-6">
        <div>
          <span>Publié le <u>{{ post.createdAt|date('d/m/Y') }}</u></span>
        </div>
      </div>

      <div class="flex items-center mb-6">
        <ul class="flex flex-row justify-start text-xs mt-8">
          <li>
            <span class="flex flex-row">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z" />
              </svg>&nbsp;<b>Tag(s) :</b>&nbsp;
            </span>
          </li>
          {% for tag in post.tags %}
            <li>
              <a href="{{ path('tag_index', { slug: tag.slug }) }}">{{ tag.name }}</a>
              {% if not loop.last %}
                <span>,&nbsp;</span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>

      <h1 class="font-bold text-3xl mb-6">{{ post.title|capitalize }}</h1>

      <div class="mx-auto mt-6">
        {% include 'components/badges.html.twig' with { badges: post.categories } only %}
      </div>

      <p>{{ post.content|raw }}</p>

      {% include 'components/share.html.twig' %}

      <div class="mt-5">
        <h2 class="text-2xl mb-8">Commentaire(s)</h2>

        <div class="comments">
          {% for comment in post.comments %}
            {% if comment.isApproved %}
              <article class="mb-6 text-base">
                <footer class="flex justify-between items-center mb-2">
                  <div class="flex items-center">
                    <p class="inline-flex items-center mr-3 text-sm">
                      {% if comment.author.avatar %}
                        <img class="mr-2 w-16 h-16" src="{{ comment.author.avatar }}" alt="Avatar {{ comment.author }}" />{{ comment.author }}
                      {% else %}
                        <img class="mr-2 w-16 h-16" src="https://api.dicebear.com/6.x/avataaars-neutral/svg?seed=Bubba" alt="Avatar {{ comment.author }}" />{{ comment.author }}
                      {% endif %}
                    </p>
                    <p class="text-sm">
                      <time pubdate datetime="2022-02-08" title="February 8th, 2022">Feb. 8, 2022</time>
                    </p>
                  </div>
                </footer>
                <p>{{ comment.content|raw }}</p>
              </article>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="mx-auto mt-6">
        <a href="{{ path('post_index') }}" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Retour</a>
      </div>
    </section>
  </div>
{% endblock %}
